 * {
	margin: 0;
	padding: 0;
    font-family:  sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
	background-color: dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
	
}
.left-panel{
    width: 200px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: dodgerblue;
}
#create-group-button{
    margin: 20px;
	padding: 10px;
	font-size: 18px;
    background-color: peru;
}



 .container {
   width: 450px;
   height: 80vh;
   display:flex;
	flex-direction: column;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.4);
    background-color: dodgerblue;
}
.header h1{
    color: white;
    padding: 15px;

}
.body{
    flex: 1;
    background-color: rgba(0,0,0,0.7);
    padding: 20px 30px;
}
 .messagelist{
    background-color: dodgerblue;
    padding: 10px;
    color: white;
    width:fit-content;
    border-radius: 10px;
    margin-bottom: 15px;
}
.messagelist{
    margin-left: auto;
    background-color: white;
    color: black
} 
 .footer form{
    display: flex;
}
form input{
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 5px;
    font-size: 16px;
}
form button{
    width: 100px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: dodgerblue;
    color:white;
    cursor: pointer;
}
form button:hover{
    background-color: blue;
    transition: 0.2s ease;
} 

 .message {
	display: flex;
	margin-bottom: 10px;
}

.message-sender {
	width: 100px;
	text-align: center; 
	font-weight: bold;
	margin-right: 10px;
}

.message-sender span {
	display: inline-block;
	padding: 5px 10px;
	background-color: #333;
	color: pink;
	border-radius: 20px;
}

.message-content {
	flex: 1;
	background-color: blue;
	padding: 10px;
	border-radius: 20px;
}

.message-content p {
	margin: 0;
}
 
